html{
 margin: 0;
 padding: 0;
 background-color: whitesmoke;
 font-family:"Comic Sans MS", cursive, sans-serif;
}
body{

    width: 600px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
header>h1{
    text-align: center;
    }
main{
    background-color: yellowgreen;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}
main >h2{

text-align: center;
}
main select{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
   
}
main section{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}
main{
    padding-top: 30px;
    padding-bottom: 30px;

}
footer{
    text-align: center;
}