html{

margin: 0;
padding: 0;
background-color: whitesmoke;
font-family:"Comic Sans MS", cursive, sans-serif;

}

body{
   
width: 800px;
padding-top: 50px;
margin-left: auto;
margin-right: auto;
}
/* add a margin of 40px to the bottom of the header, used for index.php and header.php*/
header{
margin-bottom: 40px;
}
/* align the text of the h1 header to center, used for index.php */
header>h1{
    text-align: center;
}
/* header navigation formatting, used for header.php */
header nav{
list-style-type: none;
overflow: hidden;
background-color: yellowgreen;
border-radius: 10px;
text-align: center;
box-shadow: 0px 0px 20px black;
}
/* header navigation list item formatting to the left, used for header.php */
header nav li{
display: table-cell;
float: left;
border-right: 1px solid black;


/* header navigation list item formatting the logout button, used for header.php */
}
header nav li:last-child{

float: right;
border-style: none;
border-left: 1px solid black;

}
/* header navigation list anchoritem formatting for when hovered over, used for header.php */
header nav li a:hover{
background-color:  rgba(253, 0, 0, 0.719);

}
/* header navigation list anchor item formatting , used for header.php */
header nav li a{
      
text-align: center;
padding-top: 5px;
padding-bottom: 10px;
padding-right: 6px;
padding-left: 6px;
text-decoration: none;
color: black;
display: inline-block;
width: 100px;
height: 60px;
      
}
/* main formatting , used in test.php and login.php*/
main{
background-color: yellowgreen;
box-shadow: 0px 0px 20px black;
border-radius: 10px;
padding-top: 30px;
padding-bottom: 30px;

}
/* main formatting , used in login.php*/
main >h2{
   
text-align: center;
}
/* main select formatting for centering and formatting select item , used in login.php*/
main form> select{
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px;   
}
/* main section formatting for centering and formatting input & lable , used in login.php*/
main form> section{
width: 300px;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px; 
}
/* span formatting for the error message if there is invalid input , used in login.php*/
main form section span{
    color: red;
    text-align: center;

}
/* footer formatting , used in login.php*/
footer{
text-align: center;
}